@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Charis SIL', serif;
}

:root {
    --white: #FFF;
    --whitesmoke: #f9f9f9;
    --medium-grey: #a7a7a7;
    --deep-grey: #343434;
    --black: #000;
    --red: #CF3C3F;
    --grey: #c4c4c4;
    --light-grey: #d3d3d3;
    --blue: #1b77f3;
}

main {
    display: flex;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: clamp(35px, 8%, 70px);
}

.wrapper  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_logo {
    width: 130px;
    margin-bottom: 80px;
}

.title_login {
    color: var(--deep-grey);
    font-size: 1.5em;
    margin-bottom: 30px;
}

.login_label {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.input {
    width: 100%;
    background-color: var(--light-grey);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey);
}

.login_label span {
    position: absolute;
    font-size: 0.8em;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--medium-grey);
    margin: 20px;
    cursor: text;
    transition: all 200ms ease;
}

.input:focus {
    background-color: var(--whitesmoke);
    border: 2px solid var(--deep-grey);
}

.login_label .span_active {
    font-size: 0.7em;
    margin: 8px 10px;
}

.login_icons {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.login_icons img {
    width: 20px;
}

.icons_button {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    border: none;

}

.login_icons .icons_button:nth-child(1) {
    background-color: var(--blue);
}

.login_icons .icons_button:nth-child(2) {
    background-color: var(--light-grey);
}

.login_icons .icons_button:nth-child(3) {
    background-color: var(--black);
}

.login_label--checkbox {
    width: 100%;
    margin: 15px 0;
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--light-grey);
    margin-right: 8px;
    border-radius: 3px;
}

input[type="checkbox"]:checked {
    background-color: var(--red);
}

input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: 3px solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin: 2px 6px;
}

.login_button {
    width: 60px;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 60px;
}

.login_button:disabled {
    cursor: auto;
    background-color: white;
    border: 2px var(--light-grey);
}

.login_button:disabled {
    fill: var(--grey);
}

.login_link {
    font-size: 00.8em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--medium-grey);
}

.wallpapper {
    width: 100%;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    flex: 1;
}

.wallpapper video {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    object-fit: cover;
}